.idea/
.cache/
.gopath/
__pycache__
*.pyc
build/

tests/env
tests/venv
tests/.cache
test-env/
.pytest_cache/
logs/

/spark/
docker-dist
mesos-spark-integration-tests/
mesos-spark-integration-tests-assembly-*.jar
dcos-spark-scala-tests-assembly-*.jar

cluster-url
stub-universe-url*
config.yaml
